.membership-background {
    background-color: #28282A;
}
.common-background-style {
    background-color: #fbfbfb;
}
.member-plan {
    border: 1px solid yellowgreen;
    border-radius: 10px;
}
.card-style {
    /* box-shadow: 1px 1px 3px 3px #fbfbfb; */
    background-color: transparent;
    border: 1px solid yellowgreen;
}
.member-btn-design {
    background-color: transparent;
    color: yellowgreen;
    border: 1px solid #ffffff;
    transition: 0.3s;
}
.member-btn-design:hover {
    color: #ffffff;
    border: 1px solid yellowgreen;
}