.background-banner {
    background-image: url(../../../images/incognito-man-building-biceps-with-barbell.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    color: white;
}
.home-text-style {
    padding-top: 210px;
}
.btn-design-banner {
    font-size: 20px;
    color: white;
    background-color: yellowgreen;
    margin-left: 35px;
    transition: 0.5s;
} 
.btn-design-banner:hover {
    color: yellowgreen;
    background-color: transparent;
    border: 2px solid yellowgreen;
    
}

@media only screen and (max-width:688px) {
    .background-banner{
        width: 100%;
        background-size: cover;
    }
}